<p>order works!</p>
<div>
    <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Pedidos</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Pedidos"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
           <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  @for (option of options; track option) {
    <mat-option [value]="option">{{option}}</mat-option>
  }
</mat-autocomplete>
  </mat-form-field>
</form>
</div>
<div class="cards">
  @for (pedido of pedidosFiltrados; track pedido) {
    <mat-card class="card" (click)="abrirDialog(pedido)">
      <div class="body-card">
        <div>Nome: {{pedido.nome}}</div>
        <div>Valor: R$ {{pedido.valor}},00</div>
        <div>
          Status:
          <div 
            [ngClass]="{
              'mat-chip-status-finalizado': pedido.status === 'Finalizado',
              'mat-chip-status-andamento': pedido.status === 'Em Andamento',
              'mat-chip-status-cancelado': pedido.status === 'Cancelado'
            }">
            {{pedido.status}}
          </div>
        </div>
      </div>
    </mat-card>
  }
</div>