.card{
    display: flex;

    padding: 10px;
    align-items: center;
}
.spinner{
    width: 50px !important;
    height: 50px !important;
}
.cards{
   display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
  padding: 10px;
}
.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
.body-card div{
   display: flex;
   align-items: center;  
   column-gap: 10px;
}
.mat-chip-status-finalizado{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #00ff0d;
    background-color: #68f76f6c;
    color:#00ff0d;
    border-radius: 50px !important;
}
.mat-chip-status-andamento{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #fffb00;
    background-color: #ecff436c;
    color:#fffb00;
    border-radius: 50px !important;
}
.mat-chip-status-cancelado{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ff0000;
    background-color: #ff43436c;
    color:#ff0000;
    border-radius: 50px !important;
}