<div class="dialog-wrapper">
  <div class="dialog-header">
    <div class="icon-wrapper">
      <mat-icon class="dialog-icon">{{ data.icone ?? 'warning' }}</mat-icon>
    </div>
    <h2 class="dialog-title">{{ data.titulo }}</h2>
  </div>

  <mat-dialog-content class="dialog-content">
    <p>{{ data.mensagem }}</p>
  </mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">

  <button mat-stroked-button (click)="onCancelar()">
    {{ data.botaoCancelar ?? 'Cancelar' }}
  </button>
  <button mat-raised-button [color]="data.corBotao ?? 'warn'" (click)="onConfirmar()">
    {{ data.botaoConfirmar ?? 'Confirmar' }}
  </button>
</mat-dialog-actions>
